# Compiled class file
*.class
*.bin
*.lock

# Eclipse
.project
.classpath
.settings/

# Intellij
*.ipr
*.iml
*.iws
**/.idea/

# Maven
target/

# Gradle
build
.gradle/
**/.gradle/

# Log file
*.log
log/

# out
**/out/

# Mac
.DS_Store

# others
*.war
*.zip
*.tar
*.tar.gz
*.pid
*.orig
temp/

*.body
*/fileStore/*
*.jar
